USE [capacitacion]
GO
/****** Object:  Table [dbo].[Mutual_Konecta]    Script Date: 9/02/2024 5:25:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mutual_Konecta](
	[Id_Mutual] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ExigeCoseguro] [bit] NULL,
	[Cuit] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Mutual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MutualPorPaciente_Konecta]    Script Date: 9/02/2024 5:25:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MutualPorPaciente_Konecta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Mutual] [int] NOT NULL,
	[NumReferencia] [uniqueidentifier] NOT NULL,
	[NroAfiliadoMutal] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__MutualPo__3214EC074D5F7D71] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente_Konecta]    Script Date: 9/02/2024 5:25:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente_Konecta](
	[NumReferencia] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[TipoDoc] [varchar](50) NULL,
	[NumDoc] [varchar](50) NULL,
	[FechaNac] [date] NULL,
	[EstadoCivil] [varchar](50) NULL,
	[Sexo] [varchar](50) NULL,
	[Foto] [varbinary](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Paciente_Konecta] PRIMARY KEY CLUSTERED 
(
	[NumReferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Params_Konecta]    Script Date: 9/02/2024 5:25:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Params_Konecta](
	[Id_Params] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Tipo_Param] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Params] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Mutual_Konecta] ([Id_Mutual], [Nombre], [ExigeCoseguro], [Cuit]) VALUES (200, N'SURA', 1, NULL)
INSERT [dbo].[Mutual_Konecta] ([Id_Mutual], [Nombre], [ExigeCoseguro], [Cuit]) VALUES (201, N'COOMEVA', 1, NULL)
INSERT [dbo].[Mutual_Konecta] ([Id_Mutual], [Nombre], [ExigeCoseguro], [Cuit]) VALUES (202, N'SALUD TOTAL', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[MutualPorPaciente_Konecta] ON 

INSERT [dbo].[MutualPorPaciente_Konecta] ([Id], [Id_Mutual], [NumReferencia], [NroAfiliadoMutal], [IsActive]) VALUES (1, 200, N'53ec07a5-8384-4d63-a3d4-62c5064c974f', N'776830986', 1)
INSERT [dbo].[MutualPorPaciente_Konecta] ([Id], [Id_Mutual], [NumReferencia], [NroAfiliadoMutal], [IsActive]) VALUES (2, 201, N'53ec07a5-8384-4d63-a3d4-62c5064c974f', N'1488900745', 1)
INSERT [dbo].[MutualPorPaciente_Konecta] ([Id], [Id_Mutual], [NumReferencia], [NroAfiliadoMutal], [IsActive]) VALUES (3, 200, N'53ec07a5-8384-4d63-a3d4-62c5064c974f', N'1578412454', 1)
SET IDENTITY_INSERT [dbo].[MutualPorPaciente_Konecta] OFF
GO
INSERT [dbo].[Params_Konecta] ([Id_Params], [Nombre], [Descripcion], [Tipo_Param]) VALUES (1, N'[Estado Civil]', N'Se manejaran los diferentes estados civiles', 100)
INSERT [dbo].[Params_Konecta] ([Id_Params], [Nombre], [Descripcion], [Tipo_Param]) VALUES (2, N'Casad@', NULL, 100)
INSERT [dbo].[Params_Konecta] ([Id_Params], [Nombre], [Descripcion], [Tipo_Param]) VALUES (3, N'Solter@', NULL, 100)
GO
/****** Object:  StoredProcedure [dbo].[ObraSocialPorPaciente_Konecta_g]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObraSocialPorPaciente_Konecta_g]
	@NumDoc varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT 
	MP.Id,Mp.Id_Mutual,M.Nombre, MP.NroAfiliadoMutal, MP.IsActive 
		FROM Mutual_Konecta M 
			inner join MutualPorPaciente_Konecta MP 
					on MP.id_Mutual = M.id_Mutual  
			inner join Paciente_Konecta PK 
					on PK.NumReferencia = MP.NumReferencia 
					where PK.NumDoc = @NumDoc
END

GO
/****** Object:  StoredProcedure [dbo].[ObraSocialPorPaciente_Konecta_i]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObraSocialPorPaciente_Konecta_i] 
	 @Id_Mutual	int	
	,@NumReferencia	uniqueidentifier	
	,@NroAfiliadoMutal	nvarchar(50)	
	,@IsActive	bit	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	insert into MutualPorPaciente_Konecta 
	values
	(@Id_Mutual
	,@NumReferencia
	,@NroAfiliadoMutal
	,@IsActive
	)
  
END

GO
/****** Object:  StoredProcedure [dbo].[ObraSocialPorPaciente_Konecta_u]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObraSocialPorPaciente_Konecta_u]
	 @Id	int		
	,@IsActive	bit	
AS
BEGIN
	
	SET NOCOUNT ON;
	  
	UPDATE MutualPorPaciente_Konecta
		SET 
		IsActive = @IsActive
		WHERE  Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Paciente_Konecta_g]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Paciente_Konecta_g] 
@NumDoc varchar(50)

AS
		SELECT *
		FROM dbo.Paciente_Konecta P
		WHERE P.NumDoc = @NumDoc




GO
/****** Object:  StoredProcedure [dbo].[Paciente_Konecta_i]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Paciente_Konecta_i]
	-- Add the parameters for the stored procedure here
	@NumReferencia UNIQUEIDENTIFIER OUTPUT
	,@Nombre VARCHAR (50)
	,@Apellido VARCHAR (50)
	,@TipoDoc VARCHAR (50)
	,@NumDoc VARCHAR (50)
	,@FechaNac DATE
	,@EstadoCivil VARCHAR (50)
	,@Sexo VARCHAR (50)
	,@Foto VARBINARY(max)
	,@FechaCreacion DATETIME
	,@Activo bit
	
AS
BEGIN

set @NumReferencia =  NEWID()

	INSERT INTO dbo.Paciente_Konecta 
		(	
			NumReferencia
			,Nombre
			,Apellido
			,TipoDoc
			,NumDoc
			,FechaNac
			,EstadoCivil
			,Sexo
			,Foto
			,FechaCreacion
			,Activo
		) 		
		 OUTPUT INSERTED.NumReferencia
		VALUES 
		(
			@NumReferencia
			,@Nombre
			,@Apellido
			,@TipoDoc
			,@NumDoc
			,@FechaNac
			,@EstadoCivil
			,@Sexo
			,@Foto
			,@FechaCreacion
			,@Activo
		)
END


GO
/****** Object:  StoredProcedure [dbo].[Paciente_Konecta_s]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Paciente_Konecta_s] 
 @Nombre VARCHAR(50) =NULL
,@Apellido VARCHAR(50) =NULL
,@NumDoc VARCHAR (50) =NULL
AS
		SELECT *
			FROM dbo.Paciente_Konecta P
				WHERE (@Nombre IS NULL OR P.Nombre LIKE '%'+@Nombre+'%')
		
			AND (@Apellido IS NULL OR P.Apellido LIKE '%'+@Apellido+'%')
			AND (@NumDoc IS NULL OR P.NumDoc LIKE '%'+@NumDoc+'%');

GO
/****** Object:  StoredProcedure [dbo].[Paciente_Konecta_u]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Paciente_Konecta_u]
	@NumReferencia UNIQUEIDENTIFIER
	,@Nombre VARCHAR (50)
	,@Apellido VARCHAR (50)
	,@TipoDoc VARCHAR (50)
	,@NumDoc VARCHAR (50)
	,@FechaNac DATE
	,@EstadoCivil VARCHAR (50)
	,@Sexo VARCHAR (50)
	,@Foto VARBINARY(max) = NULL
	,@Activo bit
AS
BEGIN
	
	SET NOCOUNT ON;
	  
	UPDATE Paciente_Konecta
		SET 
		Nombre = @Nombre
		,Apellido = @Apellido
		,TipoDoc = @TipoDoc
		,NumDoc = @NumDoc
		,FechaNac = @FechaNac
		,EstadoCivil = @EstadoCivil
		,Sexo = @Sexo
		,Foto = @Foto
		,Activo=@Activo
		WHERE  NumDoc = @NumDoc
END
GO
/****** Object:  StoredProcedure [dbo].[Param_Konecta_s]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Param_Konecta_s] 
AS
		SELECT [Id_Params],[Nombre],[Descripcion],[Tipo_Param]
			FROM [dbo].[Params_Konecta]
			
GO
/****** Object:  StoredProcedure [dbo].[ValidarDNI_Konecta]    Script Date: 9/02/2024 5:25:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarDNI_Konecta] 
	@NumDoc varchar(50)
AS
BEGIN	
	SET NOCOUNT ON;
   select NumDoc from Paciente_Konecta where numdoc = @NumDoc
END

GO
